/* RESET */
*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  /* list-style: none; */
  border: 0;
}

:root {
  /* COLORS  */

  --primary: #2c3e50;
  --secondary: #343a40;
  --terciary: rgb(209, 196, 233);
  --fouth: #575151;
  --ice: rgba(186, 205, 202, 0.5);

  /* grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #141516;

  /* rest */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* box shadows */
  --shadow-1: 3px 5px 3px #aaa;
  --shadow-2: 3px 5px 3px #222;

  /* typography */
  --defaultFontSize: 87.5%;
  /*--headingFont: "Inconsolata", monospace;*/
  /*--bodyFont: "Montserrat", sans-serif;*/
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--bgColor);
  --textColor: var(--primary);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}
html {
  font-size: var(--defaultFontSize);
  color: var(--black);
  background-color: var(--ice);
}
@media only screen and (min-width: 576px) {
  :root {
    --defaultFontSize: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --defaultFontSize: 112.5%;
  }
}

/* TAGS */
h1,
h2 {
  margin: 1.5rem auto;
  padding: 1.5rem;
  text-align: center;
}

h4,
h5 {
  margin: 1.2rem auto;
  text-align: center;
}

/* MY NAVBAR */
nav {
  box-shadow: var(--shadow-1);
  background-color: var(--secondary);
  color: var(--white);
  list-style: none;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header a {
  text-decoration: none;
  color: var(--white);
}
.nav-toggle {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: var(--white);
}
.nav-toggle:hover {
  color: var(--sixth);
}

.links a {
  color: var(--sixth);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 1rem;
  transition: var(--transition);
}
.links a:hover {
  background-color: var(--white);
  color: var(--primary);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 12rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-center ul li {
    list-style: none;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
    overflow: visible;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
  }
}

/* MY NAVBAR */

.page {
  margin: 0 auto;
  text-align: center;
}

.page {
  min-height: calc(100vh - (6rem + 4rem));
}

@media screen and (max-width: 768px) {
  .page h2 {
    width: 30%;
    font-size: var(--smallTtext);
    margin: 1rem auto;
  }
}

button,
.btn {
  cursor: pointer;
  appearance: none;
  background-color: rgb(20, 169, 86);
  color: var(--white);
  border: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  margin: 2rem auto;
  text-align: center;
}
button:hover,
.btn:hover {
  color: var(--white);
  background-color: rgb(20, 99, 86);
  box-shadow: var(--shadow-2);
}

.info-links {
  cursor: pointer;
  appearance: none;
  background-color: var(--secondary);
  color: var(--white);
  border: none;
  text-decoration: none;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.3rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-align: center;
}

.info-links:hover {
  background-color: var(--white);
  color: var(--secondary);
}

button a {
  text-decoration: none;
}

button a:visited {
  color: var(--white);
}

footer {
  text-align: center;
  background-color: var(--secondary);
  color: var(--white);
  padding: 0.7rem;
  font-size: small;
  width: 100%;
  margin-top: 3rem;
}

.escritos {
  background-color: var(--ice);
  color: var(--grey-1100);
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  border-radius: var(--borderRadius);
  width: 78%;
  box-shadow: var(--shadow-2);
  line-height: 1.6rem;
}
@media screen and (max-width: 456px) {
  .escritos {
    width: 90%;
  }
}
#obras,
.info {
  background-color: var(--fouth);
  color: var(--white);
  text-align: left;
  padding: 1rem;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
}

.info ul {
  padding: 1rem 1rem;
  line-height: 1.8rem;
}
.spinner {
  margin: 5rem auto;
  text-align: center;
}
.info p {
  font-size: small;
  width: 70%;
  margin: 0 auto;
}

hr {
  border-top: 1px solid var(--grey-600);
  margin: 1rem;
}

#jodit-editor {
  margin-bottom: 2rem;
}
.credentials {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 1rem;
  margin: 1rem auto;
}
.credentials input {
  margin-top: 1rem;
  border: 1px solid var(--grey-700);
  padding: 0.5rem;
  border-radius: var(--borderRadius);
}
#obrigatorio {
  color: red;
  font-size: 12px;
  text-align: left;
  margin-top: 1rem;
}
@media only screen and (max-width: 456px) {
  .credentials {
    width: 90%;
  }
}
#readmore {
  background-color: rgba(165, 42, 42, 0.9);
  box-shadow: var(--shadow-2);
  margin: 1rem;
  font-size: smaller;
  transition: var(--transition);
}

#readmore:hover {
  background-color: rgba(125, 42, 42, 0.9);
}

.contatos {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  justify-content: space-around;
}
.contatos button {
  background-color: transparent;
}

.contatos a {
  color: var(--ice);
  font-size: 3rem;
}
